CLIENT_PORT=4400
API_PORT=4500

MB_INSTANCE_URL="https://shoppy.metabaseapp.com"
METABASE_JWT_SHARED_SECRET="your_secret_here"

SHOPPY_DB_HOST="shoppy_db"
SHOPPY_DB_PORT="5432"
SHOPPY_DB="shoppy"
SHOPPY_DB_USER="shoppy"
SHOPPY_DB_PASSWORD="foobarbaz"

WATCH="false"
