/** TODO: replace this with theming API */
/* .pd-question-container [data-testid="qb-filters-panel"] {
  display: none;
} */

.pd-trend-question-container {
  font-size: 12px;
}

.pd-trend-question-container h1 {
  font-size: 30px;
  line-height: 21px;
}

.pd-trend-question-container h4 {
  color: white;
}
