/** WORKAROUND. To be removed after fine-grained theming is available. */
[data-testid="scalar-value"] {
  font-weight: 200;
  text-align: left;

  /** Force alignment. */
  margin-left: -2px;
}

[data-testid="scalar-period"] {
  display: none !important;
}

[data-card-key]>div:has(div[data-testid="scalar-container"]) {
  align-items: flex-start;
}

[data-testid="scalar-previous-value"] > div > h4 {
  font-weight: 400;
}

[data-testid="scalar-previous-value"] > div > div > div {
  font-weight: 400;
}