/** WORKAROUND: Allows popovers to work when rendered under Mantine modals */
[data-tippy-root]:has(.tippy-box.popover) {
  z-index: 201 !important;
}

.dashboard-container [data-testid="legend-caption-title"] {
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

.dashboard-container svg text[font-weight="700"] {
  font-weight: 400;
}

.dashboard-container [data-testid="chart-container"] svg text {
  font-weight: 400 !important;
}

/** WORKAROUND: increase spacing between header, dashboard and footer */
.dashboard-container [data-testid="embed-frame-header"] + main {
  margin-top: 10px;
  margin-bottom: 10px;
}
