/** WORKAROUND: Allows popovers to work when rendered under Mantine modals */
[data-tippy-root]:has(.tippy-box.popover) {
  z-index: 201 !important;
}

.dashboard-container [data-testid="legend-caption-title"] {
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

.dashboard-container svg text[font-weight="700"] {
  font-weight: 400;
}

.dashboard-container [data-testid="chart-container"] svg text {
  font-weight: 400 !important;
}

/** WORKAROUND: increase spacing between header, dashboard and footer */
.dashboard-container [data-testid="embed-frame-header"] + main {
  margin-top: 10px;
  margin-bottom: 10px;
}

body[data-theme="stitch"] {
  /** WORKAROUND: to add as theme option */
  [data-testid="dashcard"] {
    padding: 0 10px;
  }

  .smartscalar:not(.product-card-trend) [data-testid="scalar-container"] h1 {
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(93.53deg, #E590ED 9.53%, #828ED9 39.15%, #79C1FD 65.02%, #B1DBF8 84.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}