@layer tailwind {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab", sans-serif;
  background: #212121;
}

#metabase-sdk-root {
  background: transparent;
}
