@layer tailwind {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family-sans), sans-serif;
}

#metabase-sdk-root {
  background: transparent;
}

body[data-theme="light"] {
  background-image: url("/light-backdrop.png");
}

body:not([data-theme="light"]) {
  background: var(--color-background) !important;
}
