/**
 * WORKAROUND. To be removed after fine-grained theming is available.
 **/
.smartscalar [data-testid="scalar-value"] {
  text-align: left;
}

body:not([data-theme="dark"]) .smartscalar [data-testid="scalar-value"] {
  font-weight: 200;
  
  /** Force alignment. */
  margin-left: -2px;
}

.smartscalar [data-testid="scalar-period"] {
  display: none !important;
}

.smartscalar [data-card-key]>div:has(div[data-testid="scalar-container"]) {
  align-items: flex-start;
}

.smartscalar [data-testid="scalar-previous-value"] > div > h4 {
  color: #ADABA9;
  font-weight: 400;
}

.smartscalar [data-testid="scalar-previous-value"] > div > h4 > span {
  color: #ADABA9;
}

.smartscalar [data-testid="scalar-previous-value"] > div > div > div {
  font-weight: 400;
}