.product-card-question-container {
  font-size: 12px;
}

.product-card-question-container [data-testid="scalar-value"] {
  font-size: 20px;  
}

.product-card-question-container h4 {
  color: white;
}
