body[data-theme="luminara"] .analytics-collection-browser {
  table {
    box-shadow: 0px 2px 16px 0px #0000001A;
  }

  /* TODO: add border styling to theme options */
  tbody {
    border: none;
  }

  thead th {
    border: none;
    
    border-inline-start: none;
    border-inline-end: none;
  }

  tr td {
    border: none;
    border-top: 1px solid #80877f8c;
  }
}

body[data-theme="stitch"] .analytics-collection-browser {
  table {
    background: linear-gradient(112deg, #212426 0%, #292D2F 100%);
  }
}

body[data-theme="pug"] .analytics-collection-browser {
  /* TODO: add border styling to theme options */
  tbody {
    border: none;
  }

  thead th {
    border: none;
    
    border-inline-start: none;
    border-inline-end: none;
  }

  tr td {
    border: none;
    border-top: 1px solid #D1CFC5;
  }
}