body[data-theme="stitch"] {
  .overview-title {
    font-weight: 300;
  }

  .dark-gradient {
    background: linear-gradient(93.53deg, #E590ED 9.53%, #828ED9 39.15%, #79C1FD 65.02%, #B1DBF8 84.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sidebar-active-child:hover {
    color: var(--color-light-grey);
  }

  .action-button {
    position: relative;
    overflow: hidden;
    border-radius: var(--mantine-radius-sm);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    background: linear-gradient(93.53deg, #E590ED 9.53%, #828ED9 39.15%, #79C1FD 65.02%, #B1DBF8 84.51%);
    font-weight: 400;
  }

  .action-button::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: var(--mantine-radius-sm);
    background: var(--color-background);
    z-index: 2;
  }

  .action-button span {
    position: relative;
    z-index: 3;
    color: var(--mantine-color-white);
  }

  .card {
    @apply text-white border border-dark-grey rounded-lg;

    background: linear-gradient(105deg, #212426 0%, #303436 100%);
  }

  .navbar {
    background: transparent;
  }

  .sidebar-link-root {
    font-weight: 600;
  }
}