body[data-theme="stitch"] {
  color: var(--color-lighter-grey);

  .overview-title {
    font-weight: 400;
  }

  .sidebar-icons {
    color: var(--color-primary);
  }

  .dark-gradient {
    background: linear-gradient(
      93.53deg,
      #e590ed 9.53%,
      #828ed9 39.15%,
      #79c1fd 65.02%,
      #b1dbf8 84.51%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sidebar-inactive-child,
  .sidebar-link-parent {
    color: var(--color-light-grey);
  }

  .sidebar-inactive-child:hover,
  .sidebar-link-parent:hover {
    color: #fff;
    background: transparent;
  }

  .themed-button {
    position: relative;
    overflow: hidden;
    border-radius: var(--mantine-radius-sm);
    border: none;
    cursor: pointer;
    background: linear-gradient(
      93.53deg,
      #e590ed 9.53%,
      #828ed9 39.15%,
      #79c1fd 65.02%,
      #b1dbf8 84.51%
    );
    font-weight: 400;
  }

  .themed-button::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: var(--mantine-radius-sm);
    background: var(--color-background);
    z-index: 1;
  }

  .themed-button span {
    position: relative;
    z-index: 2;
    color: var(--mantine-color-white);
  }

  .card {
    @apply text-white border border-dark-grey rounded-lg;

    background: linear-gradient(112deg, #202426 0%, #292d2f 100%);
  }

  .navbar {
    background: transparent;

    @media screen and (max-width: 768px) {
      background: var(--color-background);
    }
  }

  .sidebar-link-parent {
    font-weight: 600;
  }

  .product-insights-title {
    font-weight: 600;
  }

  .product-detail-title {
    font-weight: 400;
  }

  .product-detail-card-container {
    color: var(--color-lighter-grey);
  }

  .product-insights-see-more {
    color: var(--color-primary);
  }

  .product-detail-card-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-lighter-grey);
  }
}
