body[data-theme="dark"] {
  --font-family-sans: Barlow;
  --color-primary: #DF75E9;
  --color-lighter-grey: #E3E7E4;
  --color-light-grey: #C4C9C7;
  --color-dark-grey: #3B3F3F;
  --color-background: #151C20;
}

body[data-theme="light"] {
  --font-family-sans: Barlow;
  --color-primary: #E09862;
  --color-lighter-grey: #E3E7E4;
  --color-light-grey: #C4C9C7;
  --color-dark-grey: #3B3F3F;
  --color-background: #F6F5F1;
}

body[data-theme="blue"] {
  --font-family-sans: Barlow;
  --color-primary: #3F4BF3;
  --color-lighter-grey: #D1CFC5;
  --color-light-grey: #545455;
  --color-dark-grey: #1B1C21;
  --color-background: #FFFCEE;
}
